<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
        <div class="form-group">
          <div class="col-md-12">            
				<h2>Serverless SMS API client - demo</h2>
          </div>
        </div>
				<div class="form-group">
				  <label class="control-label col-sm-5" for="number">Mobile Number:</label>
				  <div class="col-sm-7">
					<input type="text" class="form-control" id="number" placeholder="Enter number" name="number">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="message">Message:</label>
				  <div class="col-sm-12">
					<textarea class="form-control" rows="5" id="message"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Send</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>